body {
    margin: 0 auto;
    padding: 0;
    font-family: lato;
}


/* This is the nav section */

.lp-nav {
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 5px #33333326;
    padding: 0;
    margin: 0 auto;
    position: fixed;
    top: 0;
}

.lp-nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.lp-nav-logo {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid red; */
}

.lp-nav-logo>a>img {
    width: 100%;
}

.lp-nav-wrapper>ul {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    /* border: 1px solid red; */
}

.lp-nav-wrapper>ul>li {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    padding: 15px 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.lp-request-quote-btn {
    background-color: #f92828;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.lp-request-quote-btn:hover {
    background-color: rgb(176, 19, 19);
}

.lp-request-quote-btn>a {
    color: white !important;
}

.lp-nav-wrapper>ul>li>a {
    text-decoration: none;
    color: #242424;
    transition: .5s;
}

.lp-nav-wrapper>ul>li>a:hover {
    color: grey;
}


/* This is the mobile Nav */

.lp-nav-mobile {
    position: fixed;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    top: 0;
    right: 0;
    box-shadow: 0px 8px 5px #0000003b;
    z-index: 2;
    transform: translateX(250px);
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -o-transform: translateX(250px);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.lp-burger-btn {
    width: 70%;
    padding: 10px;
    display: none;
    justify-content: flex-end;
}

.lp-burger-btn>p {
    font-size: 1.4em;
    cursor: pointer;
}

.lp-nav-mobile>ul {
    width: 90%;
    padding: 0;
    margin: 15px auto;
    overflow: scroll;
    height: 90%;
}

.lp-mobile-exit-nav {
    cursor: pointer;
    font-size: 1.4em;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.lp-mobile-exit-nav:hover {
    color: rgb(225, 58, 58);
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

.lp-nav-mobile>ul>li {
    list-style: none;
    padding: 20px;
    text-align: center;
    margin-top: 5px;
    border-bottom: 1px solid #f3f3f3;
}

.lp-nav-mobile>ul>li>a {
    color: #373737;
    text-decoration: none;
}


/* This is the Form Modal */

.lp-modal-content {
    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000000d1;
    position: fixed;
    z-index: 999;
}

.lp-modal-box-form {
    position: fixed;
    /* top: -610px; */
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 900px;
    height: 600px;
    justify-content: center;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px #000;
}

.lp-modal-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.lp-modal-form-exit-btn {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.lp-modal-exit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(235, 235, 235);
    padding: 0;
    box-shadow: 0px 2px 5px #00000021;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.lp-modal-exit-btn:hover {
    color: red;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    box-shadow: 0px 8px 5px #00000063;
}

.lp-modal-form-title {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: center;
}

.lp-modal-form-title>h2 {
    font-size: 2.5em;
}

.lp-modal-form>form {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.lp-modal-form>form>input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: #dbdbdc 1px solid;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.lp-form-submit-btn {
    background-color: red;
    color: white;
    border: none;
}

.lp-modal-picture,
.lp-modal-form {
    width: 50%;
}

.lp-modal-picture {
    height: 100%;
    background-image: url(https://partnerportal.quietcoolsystems.com/wp-content/uploads/2021/02/House-lifestyle.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
}


/* This is the video modal */

.lp-video-modal-btn {
    background-color: rgb(39, 150, 235);
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.lp-video-modal-btn:hover {
    background-color: rgb(30, 123, 194);
}

.lp-video-modal-btn>a {
    color: white !important;
}

.lp-modal-video {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000000d1;
    position: fixed;
    z-index: 999;
}

.lp-modal-video-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    width: 50%;
    max-width: 600px;
    /* box-shadow: 1px 8px 5px #0006; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.lp-modal-video-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 400px;
}

.lp-video-modal-exit-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    padding: 10px 0;
}

.lp-video-modal-exit-btn>p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    color: #ffffff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.lp-video-modal-exit-btn>p:hover {
    color: rgb(203, 48, 48);
    transform: translateY(5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    box-shadow: 0px 4px 5px #000000;
    border: 1px solid rgb(203, 48, 48);
}

@media only screen and (max-width:1289px) {
    .lp-nav-wrapper>ul {
        display: none;
    }
    .lp-burger-btn {
        display: flex;
    }
}

@media only screen and (max-width:768px) {
    .lp-nav-logo {
        width: 25%;
    }
}

@media only screen and (max-width:414px) {
    .lp-nav-logo,
    .lp-burger-btn {
        width: 45%;
    }
    .lp-modal-picture {
        display: none;
    }
    .lp-modal-exit-btn {
        font-size: 1.2em;
        width: 30px;
        height: 30px;
    }
    .lp-modal-form {
        width: 100%;
        height: 100%;
    }
    .lp-modal-box-form {
        height: 85%;
    }
    .lp-modal-form-title>h2 {
        font-size: 1.5em;
        text-align: center;
        margin: 0 auto;
    }
    .lp-modal-video-box {
        width: 90%;
        height: 60%;
        align-items: flex-start;
        align-content: center;
    }
    .lp-video-modal-exit-btn>p {
        font-size: 1.2em;
        width: 30px;
        height: 30px;
    }
}